[Unit]
Decription=Prometheus node exporter
After=network-online.target

[Service]
Restart=on-failure
ExecStart=~/node_exporter-1.7.0.linux-amd64/node_exporter --web.listen-address={{ ansible_host }}:9100

[Install]
WantedBy=multi-user.target
